In [52]:
import pandas as pd
import numpy as np
import os
import glob

In [41]:
df = pd.read_excel('C:/Documentos Empresa/OneDrive - MINEROS/Desktop/INDICADORES/2020/Mayo/indicadores_servicios(Mayo).xlsx', sheet_name='oc', skiprows=[0,1]) #, index_col=0)
df.head()

,Etiquetas de fila,PD Creado por,Nombre Proveedor,Suma de TOTAL en COP
0,6200034726,RUBEN ARTURO PELAEZ OSORIO,HATCH S.A.S.,680178027
1,6200034999,MATEO DE LA CRUZ TORRES,SLR CONSULTING (CANADA) LTD.,486920000
2,6200035000,MATEO DE LA CRUZ TORRES,SLR CONSULTING (CANADA) LTD.,435490000
3,6200035044,YERICA ASTRID AGUDELO REYES,IBM DE COLOMBIA & CIA S C A,395251857
4,6200034713,MATEO DE LA CRUZ TORRES,DELOITTE & CO S.A.,386960800

In [43]:
df = df[df['Suma de TOTAL en COP'] > 17556060]
df.tail()

,Etiquetas de fila,PD Creado por,Nombre Proveedor,Suma de TOTAL en COP
58,6200034555,YERICA ASTRID AGUDELO REYES,OUTSOURCING HYDRAULICS SYSTEMS,18462000
59,6200034968,YERICA ASTRID AGUDELO REYES,MANTILLA GARZON RICARDO,18400000
60,6200034516,YERICA ASTRID AGUDELO REYES,G.M.GRUPO MULTISERVICIOS S.A.S,18079738
61,6200034820,YERICA ASTRID AGUDELO REYES,SERVICIOS AMBIENTALES DE LA SA,17578333
509,Total general,NaN,NaN,7841955565

In [46]:
df['carpeta'] = df['Etiquetas de fila'].apply(lambda x: os.path.exists(f'//Nasestrella/oc/2020/Servicios/{x}'))

In [51]:
# Cambiar el index por las ordenes de compra
# df.drop(axis=0, index='Total general', inplace=True)
# df.head()

In [54]:
df['archivos'] = df['Etiquetas de fila'].apply(lambda x: glob.glob(f'//Nasestrella/oc/2020/Servicios/{x}/*'))
df.head()

,Etiquetas de fila,PD Creado por,Nombre Proveedor,Suma de TOTAL en COP,carpeta,archivos
0,6200034726,RUBEN ARTURO PELAEZ OSORIO,HATCH S.A.S.,680178027,True,[//Nasestrella/oc/2020/Servicios/6200034726\SP...
1,6200034999,MATEO DE LA CRUZ TORRES,SLR CONSULTING (CANADA) LTD.,486920000,False,[]
2,6200035000,MATEO DE LA CRUZ TORRES,SLR CONSULTING (CANADA) LTD.,435490000,False,[]
3,6200035044,YERICA ASTRID AGUDELO REYES,IBM DE COLOMBIA & CIA S C A,395251857,False,[]
4,6200034713,MATEO DE LA CRUZ TORRES,DELOITTE & CO S.A.,386960800,False,[]

In [55]:
glob.glob('//Nasestrella/oc/2020/Servicios/6200034726/*')

['//Nasestrella/oc/2020/Servicios/6200034726\\SP 20025545 MVG.msg',
 '//Nasestrella/oc/2020/Servicios/6200034726\\H352517 - Jacaranda Contracts Review Change Order (1).pdf',
 '//Nasestrella/oc/2020/Servicios/6200034726\\JUR-FOR-005M Solicitud Modificacion Min (1) (1).docx',
 '//Nasestrella/oc/2020/Servicios/6200034726\\H352517 - Jacaranda Contracts Review Change Order (1) (1).pdf',
 '//Nasestrella/oc/2020/Servicios/6200034726\\Hatch - FE13323.pdf',
 '//Nasestrella/oc/2020/Servicios/6200034726\\SP 20025545-010.xlsx',
 '//Nasestrella/oc/2020/Servicios/6200034726\\MOR.msg']